.main {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #858585;

    .title {
        font-size: 24px;
        margin-left: 50px;
    }

    .list {
        list-style: none;
        font-weight: 500;
        font-size: 19px;
        margin-left: 50px;
        color: rgb(45, 37, 37);
    }
}
