.test {
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

    > h2 {
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    }
}

.words {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    padding: 10px;
    gap: 15px;
    color: white;
    background: #1DA1F2;
    border: 2px solid red;
    cursor: pointer;
}

.word {
    padding: 15px;  
    border: 2px solid red;
    border-radius: 20px;
}
.result {
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

    > h2 {
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    }

    p {
    font-weight: 700;
    font-size: 1.4rem;
    color: #1DA1F2;
    }

    > button {
        max-width: 17%;
    }
}